body {
    font-family: 'Roboto', sans-serif;;
}

/* containers */

.alert-container {
    
}

.opaque-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 1);
}

.callout-container {
    height: 100vh;
    background: url('../images/featurebg1.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; 
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}



.quotes-container {
    
}

.fetures-container {
    
}

/* jumbotron */

.jumbotron {
    background-color: transparent;
    alignment: center;
}

.jumbotron .h1, .jumbotron h1 {
    color: white;
}

.jumbotron p {
    color: white;
}

.block-divider--orange {
    background-color: orange;
    width: 100px;
    height: 5px;
 
}

